<header class="hero mt-md-5 text-center{{^if no_hero}} bg-light{{/if}}"{{^if no_hero}} style="height: 500px;{{#if background}} background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{background}}); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;{{/if}}"{{/if}}>

    <div class="container-fluid d-flex flex-column justify-content-center align-items-center h-100">
        {{#if print_default}}

            {{#if @site.logo}}
                <img src="{{@site.logo}}">
                {{#if @site.description}}
                    <p class="{{#if background}}text-white {{else}}color-grayblack {{/if}}font-weight-bold lead">{{@site.description}}</p>
                {{/if}}
            {{else}}
                <h1 class="{{#if background}}text-white {{else}}color-grayblack {{/if}}font-weight-bold display-4">{{@site.title}}</h1>
                {{#if @site.description}}
                    <p class="{{#if background}}text-white-50 {{else}}text-black-50 {{/if}}font-weight-bold lead">{{@site.description}}</p>
                {{/if}}
            {{/if}}

        {{else}}

            {{#is 'index'}}
                {{#if @site.logo}}
                    <img src="{{@site.logo}}">
                    {{#if @site.description}}
                        <p class="{{#if background}}text-white {{else}}color-grayblack {{/if}}font-weight-bold lead">{{@site.description}}</p>
                    {{/if}}
                {{else}}
                    <h1 class="{{#if background}}text-white {{else}}color-grayblack {{/if}}font-weight-bold display-4">{{@site.title}}</h1>
                    {{#if @site.description}}
                        <p class="{{#if background}}text-white-50 {{else}}text-black-50 {{/if}}font-weight-bold lead">{{@site.description}}</p>
                    {{/if}}
                {{/if}}
            {{/is}}

            {{#is 'tag'}}
                <h1 class="{{#if background}}text-white {{else}}color-grayblack {{/if}}font-weight-bold text-capitalize">{{name}} <span class="badge badge-primary">{{total_posts}}</span></h1>
                {{#if description}}<p class="{{#if background}}text-white-50 {{else}}text-black-50 {{/if}}font-weight-bold lead">{{description}}</p>{{/if}}
            {{/is}}

        {{/if}}
    </div>

</header>
