<article class="{{post_class}}">
    {{^has tag="#link,#micro"}}
    <div class="m-0 p-0 text-black-50"><a class="m-0 p-0 text-black-50" href="{{url}}">{{date published_at format="MMMM D, YYYY"}}</a></div>
    <h1 class="font-weight-bold my-1"><a href="{{url}}" class="text-dark">{{title}}</a></h1>
    <p class="post-excerpt">{{excerpt}}</p>
    <a href="{{url}}" class="font-weight-light font-italic text-black-50"><u>Continue reading »</u></a>
    {{else}}
    <div class="author media">
    <div class="m-0 p-0 text-black-50"><a class="m-0 p-0 text-black-50" href="{{url}}">{{date published_at format="LLL"}}</a></div>
    </div>
    <div class="post-content mt-3">
        {{content}}
    </div>
    {{/has}}
    <hr class="mt-5 mb-5">
</article>
