{{^has tag="#link,#micro"}}
    <article class="card border-0 shadow-sm mb-5 {{post_class}}" style="border-radius: .5rem;">
        {{#if feature_image}}
            <img src="{{feature_image}}" alt="Feature image" class="card-img-top rounded-top-lg" style="height: auto; max-height: 300px; object-fit: cover;">
        {{/if}}
        <div class="card-body">
            <div class="card-subtitle text-uppercase text-secondary" style="letter-spacing: 1px; font-weight: 500; font-size: 0.85rem; line-height: 1.2;">{{#primary_tag}}{{name}}{{/primary_tag}}</div>
            <h3 class="card-title font-weight-bold color-grayblack">{{title}}</h3>
            <p class="card-text">{{excerpt}}...</p>
            <p class="text-primary font-weight-bold">Read more »</p>
            <div class="d-flex flex-row flex-nowrap justify-content-between align-items-baseline text-uppercase small">
                <span class="text-secondary">{{reading_time}}</span>
                <a href="{{url}}" class="text-secondary card-link stretched-link">{{date published_at format="D MMMM YYYY"}}</a>    
            </div>
        </div>        
    </article>
{{else}}
    <article class="card border-0 shadow-sm mb-5 {{post_class}}" style="border-radius: .5rem;">
        <div class="card-body">
            <div class="card-title text-uppercase text-secondary" style="letter-spacing: 1px; font-weight: 500; font-size: 0.85rem; line-height: 1.2; margin-bottom: .5rem;">{{#primary_tag}}{{name}}{{/primary_tag}}</div>
            <div class="card-text">
                {{content}}
            </div>
            <div class="d-flex flex-row flex-nowrap justify-content-between align-items-baseline text-uppercase small">
                <span class="text-secondary">{{reading_time}}</span>
                <a href="{{url}}" class="text-secondary card-link">{{date published_at format="D MMMM YYYY"}}</a>    
            </div>
        </div>        
    </article>
{{/has}}
