{{#if isSecondary}}
{{#foreach navigation}}
{{!-- {{#if current}} active{{/if}} --}}
<a class='nav-link' href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}
{{else}}
{{#foreach navigation}}
{{!-- {{#if current}} active{{/if}} --}}
<a class='nav-link' href="{{url absolute="true"}}">{{label}}</a>{{^if @last}} <span class="menu-sep">/</span> {{/if}}
{{/foreach}}
<span class="menu-sep">/</span>
<a class="btn-toggle"><i class="far fa-lightbulb"></i></a>
{{/if}}
