<ul class="pagination justify-content-between mb-0">
    <li class="page-item{{^if prev}} disabled{{/if}}">
        <a class="page-link newer-posts" href="{{^if prev}}#" tabindex="-1" aria-disabled="true"{{else}}{{page_url prev}}"{{/if}}>&larr; Newer Posts</a>
    </li>
    <li class="page-item align-self-center">Page {{page}} of {{pages}}</li>
    <li class="page-item{{^if next}} disabled{{/if}}">
        <a class="page-link older-posts" href="{{^if next}}#" tabindex="-1" aria-disabled="true"{{else}}{{page_url next}}"{{/if}}>Older Posts &rarr;</a>
    </li>
</ul>
