<div class="card mb-5 {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    <div class="card-content d-flex flex-column flex-grow-1">
        {{#has tag="#video"}}
            {{content words="1"}}
            <div class="card-body post-video flex-grow-1">       
                <span class="card-text text-justify">{{content}}</span>
            </div>
        {{else}}
            {{#has tag="#link"}}
                <div class="card-body post-link flex-grow-1">
                    <span class="card-text">{{content}}</span>
                </div>
            {{else}}
                {{#has tag="#micro"}}
                    <div class="card-body post-micro flex-grow-1">
                        <span class="card-text text-justify">{{content}}</span>
                    </div>
                {{else}}
                    {{#if feature_image}}
                         <div>
                            <a aria-label="Post: {{title}}" href="{{url}}">
                                <div class="card-img-top card-feature-img" style="background-image: url('{{feature_image}}');"></div>
                            </a>
                        </div>
                    {{/if}}
                    <div class="card-body post flex-grow-1">
                        <h3 class="card-title post-title"><a class="card-title" name="Blog post: {{title}}"href="{{url}}" href="{{url}}">{{title}}</a></h3>
                        <p class="card-text">{{excerpt words=33}}...</p>
                    </div>
                {{/has}}
            {{/has}}
        {{/has}}
        <div class="card-footer text-muted d-flex flex-row justify-content-between align-items-baseline">
            <div class="tags mr-auto mb-2 mb-md-0">
                {{#primary_tag}}
                    {{!-- <strong class="card-subtitle mb-0 text-primary text-uppercase"></strong> --}}
                    <a class="btn btn-outline-secondary btn-sm text-uppercase" style="letter-spacing: 1px; font-size: .666rem" title="{{description}}" href="{{url}}" role="button">{{name}}</a>
                {{/primary_tag}}
            </div>
            <span class="card-readtime text-uppercase mb-2 mb-md-0">{{reading_time}}</span>
            <a class="card-link text-muted text-uppercase ml-sm-4 ml-md-5" name="Date" href="{{url}}">{{date format="MMMM D, YYYY" timeago="true"}}</a>
        </div>
    </div>
</div>
