<li class="post-item">
    <article class="post-item-content type-post">
        <h2 class="post-item-title"><a href="{{url}}" class="post-item-title-link">{{ title }}</a></h2>        
        <p class="post-item-excerpt">{{excerpt}} »</p>
        <small class="post-item-date"><a href="{{url}}" class="post-item-date-link">{{date published_at format="LLL"}} <i class="fas fa-link"></i></a></small>
    </article>
</li>