<article class="card shadow mb-5 rounded-sm {{post_class}}">
    {{^has tag="#link,#micro"}}
        {{#if feature_image}}
            <img src="{{feature_image}}" alt="Feature image" class="feature-image card-img-top rounded-sm" style="max-height: 300px; object-fit: cover;">
        {{/if}}
    {{/has}}
    <div class="card-body{{#has tag="#link,#micro"}} color-grayblack{{/has}}">
        {{^has tag="#link,#micro"}}
            <h2><a href="{{url}}" class="title card-title color-grayblack text-decoration-none font-weight-bold">{{title}}</a></h2>
        {{/has}}
        {{^has tag="#link,#micro"}}
            <p class="card-text color-grayblack">{{excerpt}}...</p>
        {{else}}
            {{content}}
        {{/has}}
    </div>
    <div class="card-footer">
        <div class="metadata text-muted text-uppercase d-flex justify-content-between align-items-center" style="font-size: .8rem;">
            <span>
                <i class="fas fa-tags"></i>&nbsp;
                {{#foreach tags}}
                    <a title="{{description}}" class="tag text-muted" href="{{url}}">{{name}}</a>{{^if @last}}&nbsp;•&nbsp;{{/if}}
                {{/foreach}}
            </span>

            {{^has tag="#link,#micro"}}<span><i class="fas fa-stream"></i>&nbsp;{{reading_time}}</span>{{/has}}
            <span>
                <i class="fas fa-clock"></i>&nbsp;<a class="date text-muted" name="Blog post: {{title}}" href="{{url}}">{{date published_at format="D MMMM YYYY"}}</a>
            </span>
        </div>
    </div>
</article>
