<article class="card shadow mb-5 rounded-sm {{post_class}}">
    {{^has tag="#link,#micro"}}
        {{#if feature_image}}
            <img src="{{feature_image}}" alt="Feature image" class="feature-image card-img-top rounded-sm" style="max-height: 300px; object-fit: cover;">
        {{/if}}
    {{/has}}
    <div class="card-body{{#has tag="#link,#micro"}} font-merriweather-light color-grayblack{{/has}}">
        {{^has tag="#link,#micro"}}
            <h2><a href="{{url}}" class="title card-title color-grayblack text-decoration-none font-weight-bold">{{title}}</a></h2>
        {{/has}}
        {{^has tag="#link,#micro"}}<p class="card-text font-merriweather-light color-grayblack">{{excerpt}}...</p>{{else}}{{content}}{{/has}}
    </div>
    <div class="card-footer">
        <div class="metadata d-flex justify-content-start align-items-baseline">
            <div class="tags h5 mb-0 mr-auto">
                {{#has tag="#micro"}}
                    {{#foreach tags}}
                        <a class="text-capitalize badge bg-micro color-micro post-meta-tag mr-1" title="{{description}}" href="{{url}}">{{name}}</a>
                    {{/foreach}}
                {{else}}
                    {{#has tag="#link"}}
                        {{#foreach tags}}
                            <a class="text-capitalize badge badge-info post-meta-tag mr-1" title="{{description}}" href="{{url}}">{{name}}</a>
                        {{/foreach}}
                    {{else}}
                        {{#foreach tags}}
                            <a class="text-capitalize badge badge-primary post-meta-tag mr-1" title="{{description}}" href="{{url}}">{{name}}</a>
                        {{/foreach}}
                    {{/has}}
                {{/has}}
            </div>
            {{^has tag="#link,#micro"}}<span class="small text-muted mr-5">{{reading_time}}</span>{{/has}}
            <span><a class="date card-link small text-muted" name="Blog post: {{title}}" href="{{url}}">{{date format="DD-MMM-YYYY"}}</a></span>
        </div>
    </div>
</article>
