<article class='post-card {{post_class}}{{#unless feature_image}} no-image{{/unless}} d-flex flex-column flex-sm-row mb-4'>
    <section id='post-excerpt' class='flex-fill'>
        <h1 id='post-title'>{{title}}</h1>
        <p>{{excerpt words=33}}</p>
    </section>
    <section id='post-meta' class='d-flex ml-sm-5 pt-sm-3'>
        <div class='post-meta-icons mr-1'>
            <div><i class="fas fa-link"></i></div>
            <div><i class="fas fa-calendar-alt"></i></div>
            <div><i class="far fa-clock"></i></div>
            <div><i class="fas fa-hashtag"></i></div>
        </div>
        <div class='post-meta-description'>
            <div>Link
            <div>{{date format="YYYY-MM-DD"}}</div>
            <div>{{reading_time}}</div>
            {{#if primary_tag}}<div>{{primary_tag.name}}</div>{{/if}}
        </div>
    </section>
</article>

