<article class="row text-dark pb-5 {{post_class}}">
    <div class="post-meta col-12 col-md-2 offset-md-1 order-2 order-md-1 pt-md-2 d-flex flex-row flex-md-column justify-content-between justify-content-md-start align-items-baseline align-items-md-center text-muted mr-md-3 mr-0 text-center">
        {{!-- {{#primary_tag}} --}}
        <h6 class="mb-md-4">
        {{#foreach tags}}
        <a class="text-capitalize badge badge-primary post-meta-tag" title="{{description}}" href="{{url}}">{{name}}</a>
        {{/foreach}}
        </h6>
        {{!-- {{/primary_tag}} --}}
        <div class="d-none d-md-block text-capitalize small post-meta-readtime">{{reading_time}}</div>
        <div class="post-meta-date small"><a class="text-muted" name="Date" href="{{url}}">{{date format="DD-MMM-YYYY"}}</a></div>
    </div>
    <div class="text-left col-12 col-md-8 order-1 order-md-2 text-dark post-content{{#has tag="#video,#link,#micro"}} dynamic-font{{/has}}">
        {{#has tag="#video"}}
            {{content}}
        {{else}}
            {{#has tag="#link"}}
                {{content}}
            {{else}}
                {{#has tag="#micro"}}
                    {{content}}
                {{else}}
                    {{#if feature_image}}
                    {{!-- <figure class="feature-image"> --}}
                        <div class="feature-image" style="background-image: url('{{feature_image}}');"></div>
                    {{!-- </figure> --}}
                    {{/if}}
                    <h1 class="post-title"><a class="{{!-- text-dark --}}text-left stretched-link" name="Blog post: {{title}}" href="{{url}}">{{title}}</a></h1>
                    <p class="post-excerpt dynamic-font">{{excerpt words=50}}...</p>
                {{/has}}
            {{/has}}
        {{/has}}
    </div>
</article>
