<div class="read-next-prev">
    {{#next_post}}
    <div class="read-next">
        <a class="read-next-story" href="{{ url }}">
            <span class="read-next-label">Read this next</span>
            {{#has tag="status"}}
                <h5 class="read-next-title">» {{ excerpt words="5" }}… «</h5>
            {{else}}
                <h5 class="read-next-title">» {{ title }} «</h5>
            {{/has}}
        </a>
    </div>
    {{/next_post}}
    {{#prev_post}}
    <div class="read-prev">
        <a class="read-prev-story" href="{{ url }}">
            <span class="read-prev-label">You might enjoy</span>
            {{#has tag="status"}}
                <h5 class="read-prev-title">» {{ excerpt words="5" }}… «</h5>
            {{else}}
                <h5 class="read-prev-title">» {{ title }} «</h5>
            {{/has}}
        </a>
    </div>
    {{/prev_post}}
</div>
