<aside class="tags">
    <ul class="taglist">
        {{#has tag="status"}}
            {{#foreach tags from="2"}}
                <li class="taglist-item">
                    <a class="tag tag-link" href="{{url}}" title="Posts tagged with {{name}}">{{name}}</a>
                </li>
            {{/foreach}}
        {{else}}
            {{#foreach tags}}
                <li class="taglist-item">
                    <a class="tag tag-link" href="{{url}}" title="Posts tagged with {{name}}">{{name}}</a>
                </li>
            {{/foreach}}
        {{/has}}        

    </ul>
</aside>
