{{!-- Default dark top navigation --}}
<nav class="flex-shrink-0 flex-grow-0 navbar navbar-expand-lg navbar-dark bg-dark small">
    {{!-- <a class="navbar-brand" href="/">{{@site.title}}</a> --}}
    <a class="navbar-brand" href="/">Jason<span class="text-white-50">.re</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="mainNavbar">
        <ul class="navbar-nav text-nowrap mt-1 mt-lg-0">
            {{#if @site.navigation}}
            {{navigation}}
            {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if @site.facebook}}
            <li class="nav-item">
                <a class="nav-link" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">Facebook</a>
            </li>
            {{/if}}
            {{#if @site.twitter}}
            <li class="nav-item">
                <a class="nav-link" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">Twitter</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="https://mastodon.social/@jbf" title="Mastodon" target="_blank" rel="noopener">Mastodon</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link icon rss dropdown-toggle" id="navbarDropdownLink" aria-label="Available RSS feeds" href="#" role="button" data-toggle="dropdown">RSS</a>
                <div class="dropdown-menu" id="navbarDropdown" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item small" href="{{@site.url}}/rss"><strong>→</strong> Full Site</a>
                    <a class="dropdown-item small" href="{{@site.url}}/posts/rss"><strong>→</strong> Posts</a>
                    <a class="dropdown-item small" href="{{@site.url}}/micros/rss"><strong>→</strong> Micro Posts</a>
                    <a class="dropdown-item small" href="{{@site.url}}/links/rss"><strong>→</strong> Links</a>
                    <a class="dropdown-item small" href="{{@site.url}}/pictures/rss"><strong>→</strong> Pictures</a>
                    <a class="dropdown-item small" href="{{@site.url}}/de/rss"><strong>→</strong> Deutsche Inhalte</a>
                    <a class="dropdown-item small" href="{{@site.url}}/en/rss"><strong>→</strong> English Content</a>
                </div>
            </li>
            {{#if @labs.subscribers}}
            <li class="nav-item">
                <a class="nav-link" href="#subscribe">Subscribe</a>
            </li>
            {{/if}}
        </ul>
        <form class="form-inline my-0 mt-1 my-lg-0 ml-lg-2 small" method="get" action="https://google.com/cse">
            <input class="form-control" name="cx" type="hidden" value="017535604341602901961:grmyjwbjtxe">
            <input class="form-control" name="ie" type="hidden" value="UTF-8">
            <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
