<!DOCTYPE html>
<html class="h-100" lang="{{@site.lang}}">
    <head>
        {{!-- Document Settings --}}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="Description" content="Jason Friedrich's blog. And what is good, Phaedrus, and what is not good – Need we ask anyone to tell us these things?">
        {{!-- Base Meta --}}
        <title>{{meta_title}}</title>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{!-- Styles'n'Scripts --}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/fontawesome.min.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/highlightjs/tomorrow-night.css"}}" />
        {{!-- Fontawesome fonts --}}
        <script src="{{asset "js/jquery-3.3.1.min.js"}}"></script>
        <script src="{{asset "js/bootstrap.bundle.min.js"}}"></script>
        <script data-search-pseudo-elements defer src="{{asset "js/fontawesome.min.js"}}"></script>
        <script src="{{asset "js/highlight.pack.js"}}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {{!-- DSGVO / GDPR Cookie consent banner --}}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
        <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#237afc"
            },
            "button": {
              "background": "transparent",
              "text": "#fff",
              "border": "#fff"
            }
          },
          "content": {
            "message": "This website uses cookies to ensure you get the best experience on our website | Diese Seite benutzt Cookies und tauscht Informationen mit ausgewählten Partnerdiensten aus. Wenn Sie die Webseite weiter benutzen, stimmen Sie der Speicherung und Verwendung der Daten für diesen Zweck zu.",
            "dismiss": "OK",
            "link": "Information",
            "href": "https://jason.re/privacy"
          }
        })});
        </script>
        </script>
        {{!-- This tag outputs SEO meta+structured data and other important settings --}}
        {{ghost_head}}
    </head>

    <body class="d-flex flex-column justify-content-between h-100 {{body_class}}">
        <nav id='main-nav' class='navbar navbar-expand-lg navbar-dark bg-dark flex-shrink-0'>
            <div class="container">
                {{#if @site.logo}}
                    <a class="navbar-brand" href="/">
                        <img id="site-logo" height="30" src="{{@site.logo}}" alt="{{@site.title}}" />
                    </a>
                {{else}}
                    <a class="navbar-brand" href="/">{{@site.title}}</a>
                {{/if}}
                <button class="navbar-toggler mb-1" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav mr-auto">
                        {{#if @site.navigation}}
                            {{navigation}}
                        {{/if}}
                    </ul>
                    <ul class="navbar-nav small">
                        {{#if @site.facebook}}
                            <li class="nav-item">
                                <a class="nav-link icon facebook" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener"></a>
                            </li>                
                        {{/if}}
                        {{#if @site.twitter}}
                            <li class="nav-item">
                                <a class="nav-link icon twitter" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener"></a>
                            </li>
                        {{/if}}
                        <li class="nav-item">
                            <a class="nav-link icon mastodon" href="https://mastodon.social/@jbf" title="Mastodon" target="_blank" rel="noopener"></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link icon rss dropdown-toggle" id="navbarDropdownLink" aria-label="Available RSS feeds" href="#" role="button" data-toggle="dropdown"></a>
                            <div class="dropdown-menu" id="navbarDropdown" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item icon rss{{!--  small --}}" href="{{@site.url}}/rss"> Full Site</a>
                                <a class="dropdown-item icon rss{{!--  small --}}" href="{{@site.url}}/posts/rss"> Posts</a>
                                <a class="dropdown-item icon rss{{!--  small --}}" href="{{@site.url}}/micros/rss"> Micro posts</a>
                                <a class="dropdown-item icon rss{{!--  small --}}" href="{{@site.url}}/links/rss"> Links</a>
                                <a class="dropdown-item icon rss{{!--  small --}}" href="{{@site.url}}/videos/rss"> Videos</a>
                            </div>
                        </li>
                        {{#if @labs.subscribers}}
                        <li class="nav-item">
                            <a class="nav-link" href="#subscribe">Subscribe</a>
                        </li>
                        {{/if}}
                    </ul>
                    <form class="form-inline my-0 mt-1 my-lg-0 ml-lg-2" method="get" action="https://google.com/cse">
                        <input class="form-control" name="cx" type="hidden" value="017535604341602901961:grmyjwbjtxe">
                        <input class="form-control" name="ie" type="hidden" value="UTF-8">
                        <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!-- d-flex had to be used to make sure that Safari renders space-between in the sub-elements right -->
        <main role="main" class="flex-shrink-0 flex-grow-1 d-flex">
            {{{body}}}
        </main>
        {{#if pagination}}
            <!-- Primary pagination begins here -->
            <div class="container pb-4 pt-4 main-pagination">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        <nav class="page-navigation mx-auto" role="navigation" aria-label="Page Navigation">
                            <!-- Previous/next page links - displayed on every page -->
                            {{pagination}}
                        </nav>
                    </div>
                </div>
            </div>
        {{/if}}

        <footer id='footer-nav' class='flex-shrink-0 navbar navbar-expand navbar-dark bg-dark small'>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarFooter">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class='nav-link' href="{{@site.url}}">{{@site.title}} &copy; {{date format="YYYY"}}</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class='nav-link' href="/impressum/">Impressum</a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link' href="/privacy/">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {{!-- Fit embedded videos  --}}
        <script src="{{asset "js/jquery.fitvids.js"}}"></script>
        <script>
            $(document).ready(function(){
                // Target your .container, .wrapper, .post, etc.
                $(".kg-embed-card").fitVids();
            });
        </script>
        {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
        {{{block "scripts"}}}
        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>
</html>
