{{!< default}}
<header class="{{#if @site.cover_image}}bg-dark{{else}}bg-primary{{/if}} d-flex flex-column flex-grow-0 flex-shrink-0" style="height: 45vh; min-height: 270px;{{#if @site.cover_image}} background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url({{@site.cover_image}}); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;{{/if}}">
    {{> "trans-nav" }}
    <div class="container d-flex flex-column justify-content-center align-items-center h-100" style="margin-top: -56px;">
        {{#if @site.logo}}<img src="{{@site.logo}}">{{/if}}
        <h1 class="text-white font-weight-bold ">{{@site.title}}</h1>
        <p class="lead text-white-50 font-weight-bold">{{@site.description}}</p>
    </div>
</header>

<main class="flex-shrink-0 flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="row flex-grow-1">
        <div class="container">
            <div class="post-feed col-md-7 mx-auto my-5">
                {{#foreach posts}}
                {{> "index-post-entry"}}
                {{/foreach}}
                {{#if pagination}}
                {{pagination}}
                {{/if}}
            </div>
        </div>
    </div>
</main>
