{{!< default}}
<div class="full-page">
    {{#post}}
    <div class="container">
        {{#if feature_image}}
        <div class="row mt-5">
            <div class="header-image col-12 mx-auto px-md-0">
                <img class="img" alt="Header Image" src="{{feature_image}}">
            </div>
        </div>
        {{/if}}
        <div class="row {{^if feature_image}}mt-md-5{{/if}} mb-5">
            <div class="col-md-7 p-md-0 mx-auto bg-white{{#if feature_image}} header-content-wrap{{/if}}">
                <div class="post-content{{#if feature_image}} mt-3 mt-md-5 px-md-5{{else}} mt-5{{/if}} mb-5">
                    <h1 class="post-title mt-2 mt-md-3 mb-4 mb-md-5 color-grayblack display-4">{{title}}</h1>
                    {{content}}
                    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
                        <a href="{{ url }}" name="tag-{{ name }}" class="text-decoration-none"><h3 class="color-grayblack font-weight-bold text-capitalize">{{name}} <span class="badge badge-primary">{{ count.posts }}</span></h3></a>
                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/post}}
