{{!< default}}
{{#post}}
    {{^has tag="#link,#micro,#video"}}
        <div class="d-flex justify-content-between align-items-center py-5 h-100">
            <div class="container">
                <div class="post-header row">
                    <div class="col-12">
                        <header class="post-meta text-center{{#if feature_image}} py-4{{else}} pb-5{{/if}}">
                            <h6 class="post-date color-grayblack">{{date}}</h6>
                            <h1 class="post-title color-grayblack font-weight-bold" style="font-size: 3.5rem;">{{title}}</h1>
                        </header>
                    </div>
                </div>
                <div class="post-full row">
                    <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">
                        {{#if feature_image}}
                        <figure class="feature-image mb-5">
                            <img src="{{img_url feature_image}}">
                        </figure>
                        {{/if}}
                        <main class="post-content color-grayblack mb-5{{^if feature_image}} no-feature-image{{/if}}">
                            {{content}}
                        </main>
                        {{> "author-info"}}
                    </div>
                </div>
                {{> "related-read-next"}}
            </div>
    {{else}}
        <div class="d-flex justify-content-center align-items-center py-5 h-100">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1 p-0">
                        <div class="d-flex flex-column justify-content-around align-items-center py-5 h-100">
                            {{> "post-entry"}}
                            {{> "author-info"}}    
                        </div>
                    </div>
                </div>
            </div>
    {{/has}}
{{/post}}
        </div>
