{{!< default}}
{{#post}}
{{#has tag="status"}}
    <!-- This is a full status post -->
    <div class="full-post type-status">
        <section class="post-header">
            <h5 class="post-date">{{date published_at format="LLL"}}</h5>
            {{#if feature_image}}
                <div class="post-feature-image">
                    <img alt="Header Image" src="{{img_url feature_image size="l"}}">
                </div>
            {{/if}}
        </section>
        <section class="post-content">
            {{ content }}
        </section>
        <section class="related-content">
            {{> "taglist" }}
            {{> "author-info" }}
        </section>
        <section class="post-footer">
            {{> "read-next-prev"}}
        </section>
    </div>
{{else}}
    <!-- This is a full regular post -->
    <div class="full-post type-post{{#if feature_image}} has-feature-image{{/if}}">
        <section class="post-header">
            <h5 class="post-date">{{date published_at format="LL"}}</h5>
            <h1 class="post-title">{{title}}</h1>
            {{#if feature_image}}
                <div class="post-feature-image">
                    <img alt="Header Image" src="{{img_url feature_image size="l"}}">
                </div>
            {{/if}}
        </section>
        <section class="post-content">
            {{ content }}
        </section>
        <section class="related-content">
            {{> "taglist" }}
            {{> "author-info" }}
        </section>
        <section class="post-footer">
            {{> "read-next-prev"}}
        </section>
    </div>
{{/has}}
{{/post}}
{{#contentFor "scripts"}}
    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        });
    </script>
    <script>
        window.fluidboxGhostConfig = {
        theme: 'image-backdrop',
        showCaption: true
        }
    </script>
    <script async src="https://cdn.jsdelivr.net/gh/jbfriedrich/fluidbox-ghost-blog-plugin@1.2/fluidbox-ghost-blog-plugin.min.js"></script>
{{/contentFor}}
