{{!< default}}
{{#post}}
{{^has tag='#link,#micro'}}
{{#if feature_image}}
<header class="bg-dark d-flex flex-column flex-shrink-0 flex-grow-0 mb-5" style="height: 45vh; background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{feature_image}}); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
    {{> "trans-nav" }}
    <div class="container d-flex flex-column justify-content-center align-items-center h-100" style="margin-top: -56px;">
        <h4 class="post-date lead text-white-50 font-weight-bold" >{{date published_at format="MMMM DD, YYYY"}}</h4>
        <h1 class="text-white font-weight-bold display-4">{{title}}</h1>
    </div>
{{else}}
<header class="d-flex flex-column flex-shrink-0 flex-grow-0">
    {{> "dark-nav" }}
    <div class="container d-flex flex-column justify-content-center align-items-center my-5">
        <h4 class="post-date lead text-black-50 font-weight-bold" >{{date published_at format="MMMM D, YYYY"}}</h4>
        <h1 class="color-grayblack font-weight-bold display-4">{{title}}</h1>
    </div>
{{/if}}
</header>
<div class="post-content container flex-grow-1 flex-shrink-0 d-flex align-items-center">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {{content}}
            {{> "taglist" }}
            {{> "author-info"}}
        </div>
    </div>
</div>
<aside class="next-prev-posts">
{{> "related-read-next"}}
</aside>
{{else}}
<header class="main-nav">
    {{> "dark-nav" }}
</header>
<div class="post-content container flex-grow-1 flex-shrink-0 d-flex align-items-center">
    <div class="row">
        <div class="post-micro col-md-8 mx-auto">
            <div class="post-mico-header my-5 h5 text-black-50 text-center">{{date published_at format="LLL"}}</div>
            {{content}}
            {{> "author-info"}}
        </div>
    </div>
</div>
{{/has}}
{{/post}}
