{{!< default}}
    {{#post}}
    {{^has tag="#link,#micro,#video"}}
        <!-- Regular full post starts here -->
        <div class="container py-5">
            <div class="main-content">
                <div class="post-header row">
                    <div class="col-12">
                        <header class="post-meta text-center text-dark mb-5">
                            <h6 class="post-date">{{date}}</h6>
                            <h1 class="post-title">{{title}}</h1>
                        </header>
                    </div>
                </div>
                <div class="post-full row">
                    <div class="col-12 col-md-8 offset-md-2">
                        {{#if feature_image}}
                        <figure class="mb-5 feature-image">
                            <img src="{{img_url feature_image}}">
                        </figure>
                        {{/if}}
                        <main class="text-justify post-content dynamic-font ml-auto mr-auto{{^if feature_image}} no-feature-image{{/if}}">
                            {{content}}
                        </main>
                        <div class="meta-author pt-5 pb-5">
                            {{#primary_author}}
                            <div class="author-image">
                                {{#if profile_image}}
                                <img class="post-author-image rounded-circle" alt="{{name}}" src="{{profile_image}}">
                                {{/if}}
                            </div>
                            <div class="author-bio">
                                <h4>{{name}}</h4>
                                <p class="text-muted small">{{bio}}</p>
                            </div>
                            <div class="author-page d-none d-sm-block">
                                {{!-- <a href="{{url}}" role="button" aria-pressed="true" class="btn btn-sm btn-outline-muted">Read more</a> --}}
                                <a href="{{@site.url}}/about/" role="button" aria-pressed="true" class="btn btn-sm btn-outline-muted">About Me</a>
                            </div>
                            {{/primary_author}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <aside class="post-footer">
                        <div class='card-deck justify-content-center align-items-stretch flex-lg-nowrap readnext-feed'>
                            <div class="card text-center mb-5 flex-grow-0 flex-shrink-1">
                                {{#if primary_tag}}
                                {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="5" as |related_posts|}}      
                                    <div class="card-body">
                                        {{#../primary_tag}}
                                        <h5 class="card-title text-dark font-weight-bolder text-capitalize">{{name}}</h5>
                                        <h6 class="card-subtitle font-weight-light mb-3">{{description}}</h6>
                                        <p class="card-text">More posts like this:</p>
                                        {{/../primary_tag}}
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {{#foreach related_posts}}
                                        <li class="list-group-item"><a class="card-link" href="{{url}}">{{title}}</a></li>
                                        {{/foreach}}
                                    </ul>
                                    <div class="card-footer small text-muted tag-moreposts">
                                        <a class="card-link text-muted" href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a>
                                    </div>
                                {{/get}}
                                {{/if}}
                            </div>
                            {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
                            {{#next_post}}
                                {{> "post-footer-card"}}
                            {{/next_post}}
                            {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
                            {{#prev_post}}
                                {{> "post-footer-card"}}
                            {{/prev_post}}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    {{else}}
        <!-- Single post starts here -->
        <!-- Removed h-100 because of a bug in Safari rendering -->
        <div class="container py-5 d-flex flex-column flex-grow-1 justify-content-around main-content">
            <div class="single-post-full">
                {{> "single-post-entry"}}
            </div>
            <div class="meta-info pt-4 row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="meta-author">
                        {{#primary_author}}
                        <div class="author-image">
                            {{#if profile_image}}
                            <img class="post-author-image rounded-circle" alt="{{name}}" src="{{profile_image}}">
                            {{/if}}
                        </div>
                        <div class="author-bio">
                            <h4>{{name}}</h4>
                            <p class="text-muted small">{{bio}}</p>
                        </div>
                        <div class="author-page d-none d-sm-block">
                            {{!-- <a href="{{url}}" role="button" aria-pressed="true" class="btn btn-sm btn-outline-muted">Read more</a> --}}
                            <a href="{{@site.url}}/about/" role="button" aria-pressed="true" class="btn btn-sm btn-outline-muted">About Me</a>
                        </div>
                        {{/primary_author}}
                    </div>
                </div>
            </div>
        </div>
    {{/has}}
    {{/post}}

