<!DOCTYPE html>
<html lang="{{@site.lang}}" class="h-100">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Description" content="{{@site.description}}">
    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/all.min.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/highlightjs/tomorrow-night.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}" /> 
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>

<body name="top" class="{{body_class}} h-100 d-flex flex-column bg-light">
    {{> "top-nav"}}
    {{!-- Height of 1px is required because otherwise Safari does not "grow" content --}}
    <main class="flex-shrink-0">
        <div class="container-fluid">
            {{#tag}}
            <div class="row">
                <div class="tag-header-image col-12 {{^if feature_image}} bg-light{{/if}}"{{#if feature_image}} style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url({{feature_image}}); background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;{{/if}}">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                        <h1 class="{{#if feature_image}}text-white {{else}}color-grayblack {{/if}}font-weight-bold text-capitalize">{{name}} <span class="badge badge-primary">{{../pagination.total}}</span></h1>
                        {{#if description}}<p class="{{#if feature_image}}text-white-50 {{else}}text-black-50 {{/if}}font-weight-bold lead">{{description}}</p>{{/if}}
                    </div>
                </div>
            </div>
            {{/tag}}
        </div>
        <div class="container my-0 my-sm-4 my-md-5">
            <div class="row">
                <div class="col-12 mx-auto rounded border bg-white" style="max-width: 47em;">
                    <ul class="post-list list-unstyled p-5 mb-0">
                        {{#foreach posts}}
                        {{> "index-post-entry"}}
                        {{/foreach}}
                    </ul>
                    {{#if pagination}}
                    {{pagination}}
                    {{/if}}
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-auto bg-light">
        {{#is 'post'}}
        {{#post}}
        {{^has tag="#micro,#link"}}
        {{> "related-read-next"}}
        {{/has}}
        {{/post}}
        {{/is}}
        {{> "default-footer" }}
    </footer>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- Fit embedded videos --}}
<script src="{{asset "js/jquery.fitvids.js"}}"></script>
<script>$(document).ready(function(){$(".kg-embed-card").fitVids();});</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script defer src="{{asset "js/all.min.js"}}"></script>
{{!-- HighlightJS --}}
<script src="{{asset "js/highlight.pack.js"}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{{block "scripts"}}}
{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</html>
